#login {
    background-image: linear-gradient(to right, #ff9569, #e92758);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 20px;
    font: normal 800 50px "黑体";
  }
  .div {
    position: absolute;
    margin-top:10px;
    margin-left: 30px;
  }
@media screen and (max-width: 640px) {
  #login{
    font: normal 800 40px "黑体";
  }
}
